<div class="container">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1 class="text-center">I tuoi animali</h1>
    <button
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      [attr.data-bs-target]="'#createModal'"
    >
      Aggiungi Animale
    </button>
  </div>

  <!-- Lista animali -->
  <div *ngIf="animali && animali.length > 0; else noAnimali">
    <div class="row" *ngFor="let animale of animali">
      <div class="col-12 mb-3">
        <mat-card
          appearance="outlined"
          class="p-3 d-flex flex-row align-items-center"
        >
          <!-- Icona -->
          <div class="me-3 text-primary d-flex flex-column align-items-center">
            <i
              class="fa-solid fs-3"
              [ngClass]="{
                'fa-dog': animale.tipo === 'cane',
                'fa-cat': animale.tipo === 'gatto',
                'fa-dove': animale.tipo === 'uccello',
                'fa-fish': animale.tipo === 'pesce',
                'fa-dragon': animale.tipo === 'rettile',
                'fa-paw': animale.tipo === 'roditore'
              }"
            ></i>
            <div class="fs-6 mt-2 text-black">{{ animale.tipo }}</div>
          </div>

          <!-- Info -->
          <div class="flex-grow-1">
            <h5 class="mb-1">{{ animale.nomeAnimale }}</h5>
            <p class="mb-1 text-muted">
              <strong>Razza:</strong> {{ animale.razza }}
            </p>
            <p class="mb-0">
              <strong>Note Mediche:</strong> {{ animale.noteMediche }}
            </p>
          </div>

          <!-- Azioni -->

          <div class="ms-3 text-nowrap d-flex flex-column gap-1">
            <button
              class="btn btn-warning btn-sm"
              (click)="openUpdateModal(animale)"
            >
              Modifica
            </button>
            <button
              class="btn btn-danger btn-sm"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#deleteModal' + animale.id"
            >
              Elimina
            </button>
          </div>
        </mat-card>
      </div>

      <!-- Modal Delete -->
      <div class="modal fade" [id]="'deleteModal' + animale.id" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Elimina {{ animale.nomeAnimale }}</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body">
              Sei sicuro di voler eliminare
              <strong>{{ animale.nomeAnimale }}</strong
              >?
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal">
                Annulla
              </button>
              <button class="btn btn-danger" (click)="onDelete(animale)">
                Elimina
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Create -->
      <div class="modal fade" [id]="'createModal'" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Aggiungi Animale</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <form [formGroup]="createForm" (ngSubmit)="onCreate()">
              <div class="modal-body">
                <input type="hidden" formControlName="utente" />

                <div class="mb-3">
                  <label class="form-label">Nome</label>
                  <input
                    type="text"
                    formControlName="nomeAnimale"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Tipo</label>
                  <select formControlName="tipo" class="form-select" required>
                    <option *ngFor="let t of tipi" [value]="t">
                      {{ t }}
                    </option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Razza</label>
                  <input
                    type="text"
                    formControlName="razza"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Note Mediche</label>
                  <textarea
                    formControlName="noteMediche"
                    class="form-control"
                  ></textarea>
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                  Chiudi
                </button>
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!createForm.valid"
                >
                  Salva
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noAnimali>
    <div class="text-center">Non hai animali salvati, aggiungili.</div>
  </ng-template>
</div>
